<% include ./partials/header %>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首頁</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/restaurants">所有餐廳 <span class="sr-only">(current)</span></a></li>
                <li><a href="/delete">刪除餐廳 <span class="sr-only">(current)</span></a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登入 </a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row text-center">
            <h1>新增餐廳</h1>
            <div style="width: 30%; margin: 0 auto">
                <form action="/restaurants" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="餐廳名稱" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="位置" name="position" min="0.01" step="0.01">
                    </div> 
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
